/*Styles for layout*/

body {
  margin: 10px;
}

header {
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-heading {
  text-align: center;
}

.a-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.b-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
}

/*Styles for header*/

/*Styles for buttons*/

button {
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

button img {
  margin-right: 5px;
}

.primary-button,
.mobile-nav-button {
  background-color: #697d3b;
  color: #ffffff;
}

.secondary-button {
  background-color: transparent;
  color: #bb6700;
}

.secondary-button:hover {
  text-decoration: underline;
}

.tertiary-button {
  background-color: #2f5e86;
  color: #ffffff;
}

.mobile-nav-button {
  width: 142px;
  height: 55px;
  font-size: 20px;
}

.add-button {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  width: 300px;
  height: 40px;
  text-transform: capitalize;
  text-align: left;
  background-color: transparent;
}

/*Text-formatting*/

.decorative-title {
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 0.2em;
  color: #697d3b;
  text-transform: uppercase;
}

.thumbnail {
  font-size: 24px;
}

h1,
h2 {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  color: #2f5e86;
}
h3,
h4,
p,
.thumbnail {
  font-family: "Maitree", serif;
}
h3,
p,
.thumbnail,
.decorative-title {
  font-weight: 400;
}
h4,
p {
  font-size: 20px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-weight: 600;
}

@media (max-width: 767px) {
  h3,
  h4,
  p,
  .thumbnail {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
}

/*Links*/

a {
  all: unset;
  cursor: pointer;
}

/*Styles for forms*/

fieldset {
  all: unset;
  margin-bottom: 10px;
}

label {
  font-family: "Maitree", serif;
  font-weight: 600;
}

label img {
  margin-right: 5px;
}

textarea {
  resize: none;
}

input[type="text"],
textarea {
  max-width: 95vw;
  width: 500px;
}

input[type="password"],
input[type="email"] {
  width: 300px;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2.5px solid #2f5e86;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  border: 1.5px solid #acacac;
  border-radius: 10px;
  outline: none;
}

input[type="file"] {
  margin: 10px 0 10px 0;
}

#username {
  width: 300px;
}
