/*Styles for general layout*/
* {
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-heading {
  text-align: center;
}

.a-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.b-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

/* Layout for carousel */

/* Layout for feed */

.presentation {
  display: block;
  max-width: 700px;
  text-align: center;
  margin: auto auto;
}

#posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.thumbnail-media {
  max-width: 300px;
}

.thumbnail {
  margin: 0;
}

/* Layout for single post */

#title-wrapper img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  margin-bottom: 20px;
}

#title-wrapper h1 {
  position: absolute;
  top: 150px;
  background-color: white;
  padding: 10px 30px;
}

#byline {
  margin: 20px 5px;
}

#byline h4 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.main .share {
  display: block;
  margin: 40px auto;
}

.edit {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-family: "Sofia Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5;
  color: #86526e;
}

/*Styles for header*/

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 1.5em;
}

nav {
  display: none;
}

.open {
  display: block;
}

.dropdown-btn {
  display: flex;
  align-items: center;
}

.logged-in ul {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px 40px;
  right: 0;
  z-index: 100;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/*Styles for buttons*/

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.primary-button,
.secondary-button,
.tertiary-button,
.mobile-nav-button,
.delete-btn {
  border-radius: 10px;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.primary-button,
.secondary-button,
.tertiary-button,
.delete-btn {
  width: 200px;
  height: 70px;
  font-size: 24px;
}

button img {
  margin-right: 5px;
}

.primary-button,
.mobile-nav-button {
  background-color: #697d3b;
  color: #ffffff;
}

.secondary-button {
  color: #bb6700;
}

.secondary-button,
.add-button,
.cancel-button {
  background-color: transparent;
}

.secondary-button:hover,
.cancel-button:hover {
  text-decoration: underline;
}

.tertiary-button {
  background-color: #2f5e86;
  color: #ffffff;
}

.mobile-nav-button {
  width: 142px;
  height: 55px;
  font-size: 20px;
}

.dropdown-btn {
  background-color: transparent;
  font-family: "Sofia Sans", sans-serif;
  font-size: 32px;
}

.warning-btn {
  color: #ffffff;
  background-color: #bb6700;
}

/*Alerts and popups*/
#popup-backdrop {
  position: fixed;
  inset: 0;
  background: #ffffff85;
  z-index: 99;
}

#popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #86526e;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
}

#popup-actions {
  display: flex;
  flex-direction: column;
}

.confirm-popup p,
.warning-popup p {
  max-width: 200px;
}

.confirm-popup {
  border: 3px solid #697d3b;
}

.warning-popup {
  border: 3px solid #bb6700;
}

.cancel-button {
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
}

.popup p,
.popup h2,
.cancel-button {
  font-family: "Sofia Sans", sans-serif;
  font-size: 18px;
}

.cancel-button,
.popup p {
  font-weight: 400;
  color: #000000;
}

.popup h2 {
  font-weight: 600;
  color: #86526e;
}

/*Text-formatting*/

.decorative-title {
  font-family: "Londrina Solid", sans-serif;
  font-size: 48px;
  letter-spacing: 0.2em;
  color: #697d3b;
  text-transform: uppercase;
}

.thumbnail {
  font-size: 24px;
}

h1,
h2 {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  color: #2f5e86;
}
h3,
h4,
p,
.thumbnail {
  font-family: "Maitree", serif;
}
h3,
p,
.thumbnail,
.decorative-title {
  font-weight: 400;
}
h4,
p {
  font-size: 20px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-weight: 600;
  text-transform: capitalize;
}

/*Links*/

a {
  all: unset;
  cursor: pointer;
}

/*Styles for forms*/

fieldset {
  all: unset;
  margin-bottom: 10px;
}

label,
legend {
  font-family: "Maitree", serif;
  font-weight: 600;
}

legend img {
  margin-right: 5px;
}

textarea {
  resize: none;
}

input[type="text"],
textarea {
  max-width: 95vw;
  width: 500px;
}

input[type="password"],
input[type="email"] {
  width: 300px;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2.5px solid #2f5e86;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  border: 1.5px solid #acacac;
  border-radius: 10px;
  outline: none;
}

input[type="file"] {
  margin: 10px 0 10px 0;
}

#username,
.error,
.file-error {
  width: 300px;
}

.error,
.file-error {
  font-family: "Maitree", serif;
  font-size: 14px;
  font-weight: 400;
  color: #b90303;
}

input.invalid,
textarea.invalid {
  border: 2.5px solid #bb6700;
}

@media (max-width: 767px) {
  /* fonts */
  h3,
  p,
  .thumbnail {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h4 {
    font-size: 16px;
  }
  /* layout */
  #title-wrapper h1 {
    position: inherit;
    padding: 0;
    text-align: center;
    font-size: 32px;
    margin: 8px 0;
  }
  #title-wrapper img {
    height: 250px;
  }
  #byline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main {
    width: 100%;
    margin: 4px;
  }
  nav ul {
    top: 100%;
    left: 0;
    width: 100%;
    align-items: center;
  }
}
