/*buttons*/

button {
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.primary-button {
  background-color: #697d3b;
  color: #ffffff;
}

.secondary-button {
  background-color: transparent;
  color: #bb6700;
}

.secondary-button:hover {
  text-decoration: underline;
}

.tertiary-button {
  background-color: #2f5e86;
  color: #ffffff;
}

.mobile-nav-button {
  width: 142px;
  height: 55px;
  font-size: 20px;
}
