/*buttons*/

.primary-button {
  width: 200px;
  height: 70px;
  border-radius: 10;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
