/*Styles for layout*/

body {
  margin: 10px;
}

header {
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-heading {
  text-align: center;
}

.a-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.b-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

/*Styles for header*/

/*Styles for buttons*/

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.primary-button,
.secondary-button,
.tertiary-button,
.mobile-nav-button,
.delete-btn {
  border-radius: 10px;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.primary-button,
.secondary-button,
.tertiary-button,
.delete-btn {
  width: 200px;
  height: 70px;
  font-size: 24px;
}

button img {
  margin-right: 5px;
}

.primary-button,
.mobile-nav-button {
  background-color: #697d3b;
  color: #ffffff;
}

.secondary-button {
  color: #bb6700;
}

.secondary-button,
.add-button,
.cancel-button {
  background-color: transparent;
}

.secondary-button:hover,
.cancel-button:hover {
  text-decoration: underline;
}

.tertiary-button {
  background-color: #2f5e86;
  color: #ffffff;
}

.mobile-nav-button {
  width: 142px;
  height: 55px;
  font-size: 20px;
}

.add-button {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  height: 40px;
  text-align: left;
}

.delete-btn {
  color: #ffffff;
  background-color: #bb6700;
}

/*Alerts and popups*/
#popup-backdrop {
  position: fixed;
  inset: 0;
  background: #00000080;
  z-index: 99;
}

#popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #86526e;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
}

#popup-actions {
  display: flex;
  flex-direction: column;
}

.confirm-popup p,
.warning-popup p {
  max-width: 200px;
}

.confirm-popup {
  border: 3px solid #697d3b;
}

.warning-popup {
  border: 3px solid #bb6700;
}

.cancel-button {
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
}

.popup p,
.popup h2,
.cancel-button {
  font-family: "Sofia Sans", sans-serif;
  font-size: 18px;
}

.cancel-button,
.popup p {
  font-weight: 400;
  color: #000000;
}

.popup h2 {
  font-weight: 600;
  color: #86526e;
}

/*Text-formatting*/

.decorative-title {
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 0.2em;
  color: #697d3b;
  text-transform: uppercase;
}

.thumbnail {
  font-size: 24px;
}

h1,
h2 {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 700;
  color: #2f5e86;
}
h3,
h4,
p,
.thumbnail {
  font-family: "Maitree", serif;
}
h3,
p,
.thumbnail,
.decorative-title {
  font-weight: 400;
}
h4,
p {
  font-size: 20px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-weight: 600;
}

@media (max-width: 767px) {
  h3,
  h4,
  p,
  .thumbnail {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
}

/*Links*/

a {
  all: unset;
  cursor: pointer;
}

/*Styles for forms*/

fieldset {
  all: unset;
  margin-bottom: 10px;
}

label {
  font-family: "Maitree", serif;
  font-weight: 600;
}

label img {
  margin-right: 5px;
}

textarea {
  resize: none;
}

input[type="text"],
textarea {
  max-width: 95vw;
  width: 500px;
}

input[type="password"],
input[type="email"] {
  width: 300px;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2.5px solid #2f5e86;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  border: 1.5px solid #acacac;
  border-radius: 10px;
  outline: none;
}

input[type="file"] {
  margin: 10px 0 10px 0;
}

#username,
.error {
  width: 300px;
}

.error {
  font-family: "Maitree", serif;
  font-size: 14px;
  font-weight: 400;
  color: #b90303;
}

input.invalid {
  border: 2.5px solid #bb6700;
}

/* Styles for alerts*/
